In [24]:
# Add pandas dependency
import pandas as pd

In [25]:
student_data_to_load = "Resources/students_complete.csv"

student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [26]:
# Put the student names in a list.
student_names = student_data_df["student_name"].tolist()

In [27]:
# Split the student names and determine the length of the split names.
# for name in student_names:
    # print(name.split(), len(name.split()))

In [28]:
# Create a new list and use it for the for loop.
students_to_fix = []

# Use an if statement to check the length of the name.
for name in student_names:
    if len(name.split()) >= 3:
        students_to_fix.append(name)
        
# Get the length of the new list.
len(students_to_fix)

1531

In [29]:
# Add the prefixes less than or equal to 4 to a new list.
prefixes = []

for name in students_to_fix:
    if len(name.split()[0]) <= 4:
        prefixes.append(name.split()[0])

# print(prefixes)

In [30]:
# Add the suffixes less than or equal to 3 to a new list.
suffixes = []

for name in students_to_fix:
    if len(name.split()[-1]) <= 3:
        suffixes.append(name.split()[-1])
        
# print(suffixes)

In [31]:
# Get the unique items in prefixes list.
# set(prefixes)

In [32]:
# Get the unique items in suffixes list.
set(suffixes)

{'Cox',
 'DDS',
 'DVM',
 'Day',
 'II',
 'III',
 'IV',
 'Jr.',
 'Kim',
 'Lee',
 'Li',
 'MD',
 'PhD',
 'Roy',
 'V'}

In [39]:
# Add each prefixes and suffixes to remove to a list.
prefixes_suffixes = ["Dr. ", "Ms. ", "Mr. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Convert Object to String and replace.
# student_data_df["student_name"].str.replace()

# Iterate the prefeixes suffixes and replace.
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

<ipython-input-39-246f83197080>:9: FutureWarning: The default value of regex will change from True to False in a future version.
  student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

In [42]:
# Put the cleaned student names in a list.
student_names = student_data_df["student_name"].tolist()

In [43]:
student_fixed = []

for name in student_names:
    if len(name.split()) >= 3:
        student_fixed.append(name)
len(student_fixed)

151