In [48]:
# Add pandas dependency
import pandas as pd

In [49]:
# File to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [81]:
# Read the school data file and store it in a pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)

In [82]:
# Read the student data file and store it in a pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load)
# student_data_df.head()

In [83]:
# Determine if there are any missing values in the school data.
# school_data_df.count()

In [84]:
# Determine if there are any missing values in the student data.
# student_data_df.count()

In [85]:
# school_data_df.isnull()

In [86]:
# student_data_df.isnull()

In [87]:
# To get the total number of empty rows
# student_data_df.isnull().sum()

In [88]:
# school_data_df.notnull()

In [89]:
# student_data_df.notnull().sum()

In [90]:
# Determine data types for the school DataFrame.
# school_data_df.dtypes

In [91]:
# Determine data types for the student DataFrame.
# student_data_df.dtypes

In [92]:
# Add each prefixes and suffixes to remove to a list.
prefixes_suffixes = ["Dr. ", "Ms. ", "Mr. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate the prefeixes suffixes and replace.
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

<ipython-input-92-f5aaff68cec2>:6: FutureWarning: The default value of regex will change from True to False in a future version.
  student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

In [93]:
# Combine data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [94]:
# Get the total number of students.
student_count = school_data_complete_df["Student ID"].count()

In [95]:
# Get the total number of schools.
school_count = len(school_data_complete_df["school_name"].unique())
school_count

15

In [96]:
# Calculate the total budget.
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [97]:
# Calculate the average reading score.
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [98]:
# Calculate the average math score.
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [99]:
# Get students who are passing math in a new DataFrame.
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]

In [100]:
# Get students who are passing reading in a new DataFrame.
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]

In [101]:
# Calculate the number of students passing math.
passing_math_count = passing_math["student_name"].count()

# Calculate the number of students passing reading.
passing_reading_count = passing_reading["student_name"].count()

In [102]:
# Calculate the percent that passed math.
passing_math_percentage = passing_math_count / float(student_count) * 100

# Calculate the percent that passed reading.
passing_reading_percentage = passing_reading_count / float(student_count) * 100

In [103]:
# Calculate the number of students passing both math and reading.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

# passing_math_reading.head()

In [104]:
# Calculate the number of students passing both math and reading.
passing_math_reading_count = passing_math_reading["student_name"].count()

In [105]:
# Calculate the overall passing percentage.
overall_percentage = passing_math_reading_count / float(student_count) * 100

In [113]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
[{"Total Schools": school_count,
  "Total Students": student_count,
  "Total Budget": total_budget,
  "Average Math Score": average_math_score,
  "Average Reading Score": average_reading_score,
  "% Passing Math": passing_math_percentage,
  "% Passing Reading": passing_reading_percentage,
  "% Overall Passing": overall_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [114]:
# Format "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

In [115]:
# Format "Total Budget" to have the comma for a thousands separator, a decimal separator, and a "$".
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Total Budget"]

0    $24,649,428.00
Name: Total Budget, dtype: object

In [117]:
# Format "Average Math Score" for one decimal place.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

In [118]:
# Format "Average Reading Score" for one decimal place.
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

In [121]:
# Format "% Passing Math" to the nearest whole number percentage.
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

In [122]:
# Format "% Passing Reading" to the nearest whole number percentage.
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

In [123]:
# Format "% Overall Passing" to the nearest whole number percentage.
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

In [126]:
# Reorder the columns in the order you want them to appear.
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
district_summary_df = district_summary_df[new_column_order]
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65